.header-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff4405;
    .menu-app {
        display: flex;
        ul li {
            cursor: pointer;
            color: rgba(255,255,255,.8);
            display: inline;
            margin: 0 30px;
            // justify-content: space-between;
        }
        li:hover {
            color: #fff;
        }
    }
    .logo-app {
        font-size: 20px;
        font-weight: bold;
        color: white;
        margin: 0;
    }
    .menu-item {
        font-size: 18px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}