.footer-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff4405;
    padding: 20px 40px;
    .logo-footer {
        width: 70px;
        height: 70px;
    }
    .social-wrapper {
        display: flex;
        .icon-wrapper {
            background-color: #fff;
            padding: 10px;
            border-radius: 40px;
            margin: 0 10px;
            .icon-medsos {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}

.copyright {
    background-color: #474641;
    padding: 10px 0;
    p {
        font-size: 14px;
        color: #fff;
        text-align: center;
        margin: 0;
    }
}